/* You can add global styles to this file, and also import other style files */
@import "mapbox-gl/dist/mapbox-gl.css";

body {
    margin: 0;
}

/* Memory popup styles */
.memory-marker-popup .mapboxgl-popup-content {
  padding: 15px;
  max-width: 280px;
  box-sizing: border-box;
}

.memory-marker-popup .mapboxgl-popup-tip {
  border-top-color: #fff;
}